version = 1

[[analyzers]]
name = "javascript"

  [analyzers.meta]
  plugins = ["react"]
  environment = [
    "nodejs",
    "browser"
  ]

[[code_formatters]]
name = "standardjs"

[[code_formatters]]
name = "prettier"